@model KitCartItemViewModel

<div class="cart-small cart-kit cart-detail">
	<div class="cart-kit-textoption">
		<span class="kit-item-name">- @Model.Name</span>

		@if(!string.IsNullOrEmpty(Model.TextOption))
		{
			if(Model.IsImage)
			{
				<span>
					: <a class="cart-kit-imagelink" href="@Model.TextOption" target="_blank">@Html.StringResource("shoppingcart.cs.1000")</a>
				</span>
			}
			else
			{
				<span class="kit-text-option-value">
					: @Html.MultilineText(Model.TextOption)
				</span>
			}
		}
	</div>
</div>